<div class="row">
    <!--sidebar-->
    <div ng-include src="'views/navbar/navbar.view.html'"></div>
    <!--page content-->
    <div class="col-md-8">
        <div class="messageBox col-md-12" ng-repeat="message in model.messages">
            <div class="messageBoxHeader row">
                <div class="col-md-12">
                    <strong>From: {{message.senderName}}</strong>
                    <a class="pull-right replyBtn" ng-click="model.removeMsg(message)"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="pull-right replyBtn" ng-click="model.toggleMsg($index)" ng-hide="$index==model.toggleMsgId"><span class="glyphicon glyphicon-chevron-down"></span></a>
                    <a class="pull-right replyBtn" ng-click="model.toggleMsg($index)" ng-show="$index==model.toggleMsgId"><span class="glyphicon glyphicon-chevron-up"></span></a>
                    <a class="pull-right replyBtn" ng-click="model.toggleMsg($index)"><span class="glyphicon glyphicon-edit"></span></a>
                </div>
            </div>
            <div ng-class="($index==model.toggleMsgId) ? 'messageBoxBody row' : 'messageBoxBodyToggle row'">
                <div ng-repeat="msgContent in message.msgContent">
                    <div class="messageCard col-md-12">
                        <div ng-hide="msgContent.senderName == currentUser.username"><span class="msgSenderName">{{msgContent.senderName}}</span> said:</div>
                        <div ng-if="msgContent.senderName == currentUser.username"><span class="msgSenderName">Me</span> said:</div>
                        <div>{{msgContent.content}}</div>
                        <div>
                            <span class="messageDate">{{msgContent.date | date:medium}}</span>
                        </div>
                    </div>
                </div>
                <div class="replyBox col-md-12" >
                    <div class="form-group">
                        <textarea class="form-control" rows="3" ng-model="model.msgContent"/>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-success" ng-click="model.send(message.senderId, message._id)">Send</button>
                        <button class="btn btn-danger" ng-click="model.cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
