<div class="row">
    <div class="col-md-2 hidden-xs hidden-sm">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="#/profile">Profile</a></li>
            <li ng-if="currentUser.role == 'Patient'" role="presentation"><a href="#/favorite">Favorite Doctors</a></li>
            <li role="presentation"><a href="#/review">My Reviews</a></li>
            <li ng-if="currentUser.role == 'Patient'" role="presentation"  class="active"><a href="#/message">My Messages</a></li>
        </ul>
    </div>
    <!--page content-->
    <div class="col-md-8">
        <div class="messageBox col-md-12" ng-repeat="message in model.messages">
            <div class="messageBoxHeader row">
                <div class="col-md-12">
                    <strong>From: {{message.senderName}}</strong>
                    <a class="pull-right replyBtn" ng-click="model.removeMsg(message)"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="pull-right replyBtn" ng-click="model.toggleMsg($index)" ng-hide="$index==model.toggleMsgId"><span class="glyphicon glyphicon-chevron-down"></span></a>
                    <a class="pull-right replyBtn" ng-click="model.toggleMsg($index)" ng-show="$index==model.toggleMsgId"><span class="glyphicon glyphicon-chevron-up"></span></a>
                </div>
            </div>
            <div ng-class="($index==model.toggleMsgId) ? 'messageBoxBody row' : 'messageBoxBodyToggle row'">
                <div ng-repeat="msgContent in message.msgContent">
                    <div class="messageCard col-md-12">
                        <div>{{message.senderName}}<span class="messageDate">{{msgContent.date | date:medium}}</span></div>
                        <div>{{msgContent.content}}</div>
                        <div><a ng-click="model.openReplyBox(msgContent)">reply</a></div>
                    </div>
                    <div class="replyBox col-md-12" ng-show="msgContent._id == model.needReplyId">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" ng-model="model.msgContent"/>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-success" ng-click="model.send(message.senderId)">Send</button>
                            <button class="btn btn-danger" ng-click="model.cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
