<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked hidden-xs hidden-sm">
            <li role="presentation" class="active"><a href="#/profile">Profile</a></li>
            <li ng-if="currentUser.role == 'Patient'" role="presentation"><a href="#/favorite">Favorite Doctors</a></li>
            <li role="presentation"><a href="#/review">My Reviews</a></li>
            <li ng-if="currentUser.role == 'Patient'" role="presentation"><a href="#/message">My Messages</a></li>
        </ul>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <h1>Profile</h1>
        <hr>
        <div ng-if="currentUser.role == 'Patient'" class="form-group">
            <label for="email">Email Address:</label>
            <input ng-model="model.currentUser.email" class="form-control" type="text" id="email" placeholder="Emial">
        </div>
        <div ng-if="currentUser.role == 'Patient'" class="form-group">
            <label for="patientName">Username:</label>
            <input ng-model="model.currentUser.username" class="form-control" type="text" id="patientName" placeholder="username">
        </div>
        <div ng-if="currentUser.role == 'Provider'" class="form-group">
            <label for="providerName">Username:</label>
            <input ng-model="model.currentUser.username" class="form-control" type="text" id="providerName" placeholder="username" disabled>
        </div>
        <div class="form-group">
            <label for="patientPwd">Password:</label>
            <input ng-model="model.currentUser.password" class="form-control" type="text" id="patientPwd" placeholder="password">
        </div>
        <div ng-if="currentUser.role == 'Patient'" class="form-group">
            <label for="phone">phone:</label>
            <input ng-model="model.currentUser.phone" class="form-control" type="text" id="phone" placeholder="phone number">
        </div>
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-success btn-block" ng-click="model.updateProfile()">Save</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-default btn-block" ng-click="model.cancelUpdate()">Cancel</a>
            </div>
        </div>
    </div>
</div>