<h1>Join Now</h1>
<hr>
<div class="col-md-6">
    <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="text" id="email" placeholder="Emial">
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" type="text" id="username" placeholder="username">
    </div>
    <div class="form-group">
        <label for="password">Create a password:</label>
        <input class="form-control" type="password" id="password" placeholder="password">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm your password:</label>
        <input class="form-control" type="password" id="confirmPassword" placeholder="password">
    </div>
    <div>
        <button class="btn btn-primary btn-block">Join</button>
    </div>
</div>