<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="#/profile">Profile</a></li>
            <li role="presentation"><a href="#/favorite">Favorite Doctors</a></li>
            <li role="presentation"><a href="#/review">My Reviews</a></li>
            <li role="presentation"  class="active"><a href="#/message">My Messages</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>From</th>
                <th>Date</th>
                <th>Content</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="model.needReply">
                <td>To: {{model.targetMsg.from}}</td>
                <td>{{model.date | date}}</td>
                <td><input ng-model="model.msgToSend.content" class="form-control"></td>
                <td>
                    <button ng-click="model.send()" class="btn btn-info" role="button">Send</button>
                    <button class="btn btn-danger" role="button">Cancel</button>
                </td>
            </tr>
            <tr ng-repeat="message in model.messages">
                <td>{{message.from}}</td>
                <td>{{message.date | date}}</td>
                <td>{{message.content}}</td>
                <td>
                    <button ng-click="model.reply(message)" class="btn btn-info" role="button">Reply</button>
                    <button class="btn btn-danger" role="button">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>