td {
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
}

.reviewCard {
    border:1px solid #bbb;
    margin:15px;
    padding: 10px;
}

.commentCard {
    background-color:#eeeeee;
    padding-top: 10px;
}

.replyBox {
    padding: 10px;
}

.popText {
    font-size: large;
    text-align: center;
    margin-top: 5%;
}

.replyBtn {
    margin-left: 10px;
    color: #5e5e5e;
}

.patientReviewSection {
    margin-bottom:50px;
}

.doctorHeader {
    padding: 10px;
}

.pageContent {

}

.favoriteCard {
    width:320px;
    border:1px solid #bbb;
    white-space: nowrap;
    float:left;
    margin:20px;
}

.favoriteCardHeader {
    width:320px;
    height: 30px;
    padding: 5px;
    padding-right: 10px;
    background-color:#eeeeee;
}

.favoriteCardBody {
    padding:20px;
}

.favoriteCardImg {
    width:100px;
}

.favoriteCardInfo {
    padding-left: 30px;
}
