html, .container-fluid {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

.full { height: 100%;}


.homepage {
    background: url("../../img/room.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    height: 100%;
    font-size: large;
}

.searchGroup {
    margin-top: 290px;
    padding: 50px;
    white-space: nowrap;
}

.searchGroupSmall {
    margin-top: 100px;
    padding: 50px;

}

.homeSlogan {
    position: absolute;
    top: 40%;
    left:35%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    font-size: 80px;
    /*color: #549452;*/
    color: #26AB37;
    font-weight: bold;
    font-family: Futura;
}

.input-xlg {
    height: 60px !important;
    font-size: 20px !important;
}

.btn-xlg {
    height: 60px !important;
    padding: 10px;
    font-size: 25px !important;
}

td {
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
}

.reviewCard {
    border:1px solid #bbb;
    margin:15px;
    padding: 10px;
}

.commentCard {
    background-color:#eeeeee;
    padding-top: 10px;
}

.replyBox {
    padding: 10px;
}

.popText {
    font-size: large;
    text-align: center;
    margin-top: 5%;
}

.replyBtn {
    margin-left: 10px;
    color: #5e5e5e;
}

.patientReviewSection {
    margin-bottom:50px;
}

.doctorHeader {
    padding: 10px;
}

.pageContent {

}

.favoriteCard {
    width:320px;
    border:1px solid #bbb;
    white-space: nowrap;
    float:left;
    margin:20px;
}

.favoriteCardHeader {
    width:320px;
    height: 30px;
    padding: 5px;
    padding-right: 10px;
    background-color:lightgrey;
}

.favoriteCardBody {
    padding:20px;
}

.favoriteCardImg {
    width:100px;
}

.favoriteCardInfo {
    padding-left: 30px;
}

.unfavoriteIcon {
    color: #5e5e5e;
}

.messageBox {
    border:1px dashed #bbb;
    margin: 15px;
}

.messageBoxHeader {
    height: 40px;
    padding-top: 10px;
    /*background-color:lightgrey;*/
}

.messageBoxBody {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.messageBoxBodyToggle {
    /*padding: 10px;*/
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
    overflow: hidden;
}

.messageCard {
    border-bottom:1px dashed #bbb;
    padding: 5px;
}

.messageDate {
    color: darkgrey;
}

.msgSenderName {
    color: #2aabd2;
    font-weight: bold;
}

