<div class="row">
    <div class="btn-group col-md-6 col-md-offset-3">
        <div class="btn-group">
            <input ng-model="specialty" class="btn btn-default dropdown-toggle" data-toggle="dropdown" placeholder="Primary Care Doctor">
            <ul class="dropdown-menu">
                <li><a href="#">Carediologiest</a></li>
                <li><a href="#">OBGYN</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <input ng-model="location" class="btn btn-default dropdown-toggle" data-toggle="dropdown" placeholder="Zip Code or City">
            <ul class="dropdown-menu">
                <li><a href="#">New York</a></li>
                <li><a href="#">Boston</a></li>
            </ul>
        </div>
        <a ng-click="main.search(specialty, location)" href="#/result/specialty/{{main.specialty}}/location/{{main.location}}" class="btn btn-primary">Search</a>
    </div>
</div>






