<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="#/profile">Profile</a></li>
            <li role="presentation"><a href="#/favorite">Favorite Doctors</a></li>
            <li role="presentation" class="active"><a href="#/review">My Reviews</a></li>
            <li role="presentation"><a href="#/message">My Messages</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <h1>Reviews</h1>
        <table class="table table-striped">
            <thead>
            <th>To</th>
            <th>Date</th>
            <th>Overall Rating</th>
            <th>Comment</th>
            <th>&nbsp;</th>
            </thead>
            <tbody>
            <tr ng-repeat="review in model.reviews">
                <td>Dr.{{review.doctorName}}</td>
                <td>{{review.reviewDate | date}}</td>
                <td>{{review.overall}}</td>
                <td>{{review.comments}}</td>
                <td>
                    <a class="btn btn-warning" ng-click="model.edit(review)"  role="button">Edit</a>
                    <button class="btn btn-danger" ng-click="model.deleteReview($index)" role="button">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>