<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="specialty">I'm looking for a:</label>
            <select ng-model="doctor.specialty" class="form-control" id="specialty">
                <option value="cardiologist">Cardiologist</option>
                <option value="allergist">Allergist</option>
            </select>
        </div>
        <div class="form-group">
            <label for="city">In:</label>
            <select ng-model="doctor.location" class="form-control" id="city">
                <option value="ma-boston">Boston</option>
                <option value="ny-newyork">New York</option>
            </select>
        </div>
        <div ng-show="main.illegal" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Both fields are required
        </div>
        <a ng-click="main.search(doctor.specialty, doctor.location)" class="btn btn-primary btn-block">Search</a>
    </div>
</div>






