<!--Doctor's basic and contact information-->
<br>
<div class="row">
    <div class="col-md-7">
        <div class="col-md-4">
            <img class="img-circle" height="180px" ng-src="{{model.data.profile.image_url}}">
        </div>
        <div class="col-sm-6">
            <ul class="list-unstyled">
                <li><h3>Dr.{{model.data.profile.first_name}}&nbsp{{model.data.profile.last_name}}, {{model.data.profile.title}} </h3></li>
                <li><h4>{{model.data.specialties[0].actor}}</h4></li>
                <li><img ng-src="{{model.data.ratings[0].image_url_small}}"></li>
                <li>{{model.data.practices[0].name}}</li>
                <li>Phone {{model.data.practices[0].phones[0].number}}</li>
            </ul>
        </div>
        <div class="col-md-2">
            <br><!--bad practice-->
            <button class="btn btn-default btn-block" role="button" ng-click="model.rate()">Rate</button>
            <button ng-click="model.addFavorite()" class="btn btn-default btn-block">Favorite</button>
        </div>
    </div>
</div>
<div ng-show="model.addSuccess" class="alert alert-success" role="alert"><p align="center">Added to my favorites!</p></div>
<br>
<!--Doctor's demographic information-->
<!--Education-->
<hr>
<div class="row">
    <div class="col-md-7">
        <div class="col-md-4"><strong>Education</strong></div>
        <div class="col-md-8">
            <div ng-repeat="education in model.data.educations">
                <div>{{education.school}}</div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-7">
        <div class="col-md-4"><strong>Professional Statement</strong></div>
        <div class="col-md-8">
            <div class="text-justify">{{model.data.profile.bio}}</div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-7">
        <div class="col-md-4"><strong>Specialties</strong> </div>
        <div class="col-md-8">
            <div ng-repeat="specialty in model.data.specialties">
                <div>{{specialty.actor}}</div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-7">
        <div class="col-md-4"><strong>Languages Spoken</strong> </div>
        <div class="col-md-8">
            <div ng-repeat="language in model.data.profile.languages">
                <div>{{language.name}}</div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-7">
        <div class="col-md-4"><strong>Insurances</strong> </div>
        <div class="col-md-8">
            <div ng-repeat="insurance in model.data.insurances | limitTo:4">
                <div>{{insurance.insurance_plan.name}}</div>
            </div>
            <a ng-click="model.viewInsurance(model.data.insurances)"><strong>View all</strong></a>
        </div>
    </div>
</div>
<br>
<!--Patient Review Section-->
<div><h3>Patient Reviews</h3></div>
<hr>
<div class="row">
    <div class="col-md-12" ng-repeat="review in model.reviews">
        <div class="col-md-2">
            {{review.username}}
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4">
                    <div>Overall Rating</div>
                    <input-stars
                            max="5"
                            icon-base="fa fa-fw"
                            icon-empty="fa fa-star-o"
                            icon-hover="hover"
                            icon-full="fa fa-star"
                            ng-model="review.overall"
                            readonly="true">
                </div>
                <div class="col-md-4">
                    <div>Bedside Manner</div>
                    <input-stars
                            max="5"
                            icon-base="fa fa-fw"
                            icon-empty="fa fa-star-o"
                            icon-hover="hover"
                            icon-full="fa fa-star"
                            ng-model="review.bedsideManner"
                            readonly="true">
                </div>
                <div class="col-md-4">
                    <div>Wait Time</div>
                    <input-stars
                            max="5"
                            icon-base="fa fa-fw"
                            icon-empty="fa fa-star-o"
                            icon-hover="hover"
                            icon-full="fa fa-star"
                            ng-model="review.waitTime"
                            readonly="true">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{review.comments}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<h3>Favorites</h3>
<hr>














