<div class="row editReviewHeader">
    <div class="col-sm-6 col-sm-push-3 col-md-6 col-md-push-3">
        <div class="row">
            <div class="col-xs-3  col-sm-3 col-md-3 col-lg-3 detailImgSection">
                <img class="img-circle detailImg" ng-src="{{model.doctor.profile.image_url}}">
            </div>
            <div class="col-xs-3 col-sm-6 col-md-6 col-lg-6 detailBreifSection">
                <ul class="list-unstyled">
                    <li class="detailName">{{model.doctor.profile.first_name}} &nbsp {{model.doctor.profile.last_name}}</li>
                    <li class="detailSpecialty">{{model.doctor.specialties[0].actor}}</li>
                    <li class="detailRateImg"><img ng-src="{{model.doctor.ratings[0].image_url_small}}"></li>
                    <li>{{model.doctor.practices[0].name}}</li>
                    <li>{{model.doctor.practices[0].phones[0].number}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
    </div>
</div>

<div ng-show="model.submitSuccuss" class="alert alert-success" role="alert"><p align="center">Rate Success!</p></div>
<div class="row">
    <div class="col-sm-4 col-sm-push-3 col-md-4 col-md-push-3">
        <div class="form-group">
            <label for="overallRating">Overall Rating:</label>
            <jk-rating-stars id="overallRating" max-rating="5" rating="rate.overall" read-only="false">
            </jk-rating-stars>
        </div>
        <div class="form-group">
            <label for="waitTime">Wait Time:</label>
            <jk-rating-stars id="waitTime" max-rating="5" rating="rate.waitTime" read-only="false">
            </jk-rating-stars>
        </div>
        <div class="form-group">
            <label for="bedsideManner">Bedside Manner:</label>
            <jk-rating-stars id="bedsideManner" max-rating="5" rating="rate.bedsideManner" read-only="false">
            </jk-rating-stars>
        </div>
    </div>
</div>
<div class="row">
    <div class=" col-sm-5 col-sm-push-3 col-md-5 col-md-push-3">
        <div class="form-group">
            <label for="comments">Comments:</label>
            <textarea ng-model="rate.comments" class="form-control" rows="8" id="comments"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3 rateBtn">
        <a ng-click="model.submit(rate)" class="btn btn-success btn-block" role="button">Submit</a>
    </div>
    <div class="col-sm-2 col-md-2 rateBtn">
        <a ng-click="model.cancel(rate)" class="btn btn-warning btn-block" role="button">Cancel</a>
    </div>
</div>
<hr>

<!--This is an example, rating is the value of input-->
<!--<jk-rating-stars max-rating="8" rating="ctrl.rating" read-only="ctrl.readOnly" on-rating="ctrl.onRating(rating)" ></jk-rating-stars>-->

















