<h2>Rate Doctor</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <div class="col-sm-3"><img class="img-circle" ng-src="{{model.doctor.profile.image_url}}"></div>
        <div class="col-sm-9">
            <ul class="list-unstyled">
                <li>{{model.doctor.profile.first_name}} &nbsp {{model.doctor.profile.last_name}}</li>
                <li>{{model.doctor.specialties[0].name}}</li>
                <li><img ng-src="{{model.doctor.ratings[0].image_url_small}}"></li>
                <li>&nbsp;</li>
                <li>{{model.doctor.practices[0].name}}</li>
                <li>{{model.doctor.practices[0].phones[0].number}}</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div ng-show="model.submitSuccuss" class="alert alert-success" role="alert"><p align="center">Rate Success!</p></div>
<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <div class="form-group">
            <label for="overallRating">Overall Rating:</label>
            <jk-rating-stars id="overallRating" max-rating="5" rating="rate.overall" read-only="false">
            </jk-rating-stars>
        </div>
        <div class="form-group">
            <label for="waitTime">Wait Time:</label>
            <jk-rating-stars id="waitTime" max-rating="5" rating="rate.waitTime" read-only="false">
            </jk-rating-stars>
        </div>
        <div class="form-group">
            <label for="bedsideManner">Bedside Manner:</label>
            <jk-rating-stars id="bedsideManner" max-rating="5" rating="rate.bedsideManner" read-only="false">
            </jk-rating-stars>
        </div>
    </div>
    <div class="col-md-5 ">
        <div class="form-group">
            <label for="comments">Comments:</label>
            <textarea ng-model="rate.comments" class="form-control" rows="8" id="comments"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <a ng-click="model.submit(rate)" class="btn btn-success btn-block" role="button">Submit</a>
    </div>
    <div class="col-md-3 ">
        <a ng-click="model.cancel(rate)" class="btn btn-warning btn-block" role="button">Cancel</a>
    </div>
</div>
<hr>

<!--This is an example, rating is the value of input-->
<!--<jk-rating-stars max-rating="8" rating="ctrl.rating" read-only="ctrl.readOnly" on-rating="ctrl.onRating(rating)" ></jk-rating-stars>-->

















